<span
  class="prev-button page-entry"
  *ngIf="options.previousPage"
  (click)="setPage(1)"
  [ngClass]="{'disabled':page.currentPage === 1}">
  {{options.titles.firstPage}}
</span>
<span
  class="prev-button page-entry"
  *ngIf="options.previousPage"
  (click)="previousPage()"
  [ngClass]="{'disabled':page.currentPage === 1}">
  {{options.titles.previousPage}}
</span>
<span class="page-selection">
  <span
    *ngFor="let num of range"
    class="page-entry"
    [ngClass]="{'active': num === page.currentPage}"
    (click)="setPage(num)">{{num}}</span>
</span>
<span
  class="next-button page-entry"
  *ngIf="options.nextPage"
  (click)="nextPage()"
  [ngClass]="{'disabled':page.currentPage === page.numberOfPages}">
    {{options.titles.nextPage}}
</span>
<span
  class="prev-button page-entry"
  *ngIf="options.previousPage"
  (click)="setPage(page.numberOfPages)"
  [ngClass]="{'disabled':page.currentPage === page.numberOfPages}">
  {{options.titles.lastPage}}
</span>
